/* Global styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #000;
    padding: 20px;
    position: relative;
    text-align: center;
    animation: fadeInDown 1.5s ease-in-out;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

header img {
    width: 80px;
    display: block;
    margin: 0 auto 20px;
}

h1 {
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0 0 10px;
    color:#ffffff;
}

.header-tagline {
    font-size: 18px;
    color: #ccc;
    margin: 0;
    letter-spacing: 1px;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.back-arrow img {
    width: 30px;
    height: 30px;
}

.back-arrow:hover {
    transform: rotate(-45deg) scale(1.2);
}

/* Content section */
.content {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.places-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px; 
    justify-items: center;
}

.place-card {
    background-color: #111;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 2s ease-in-out;
}

.place-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15);
}

.image-wrapper {
    overflow: hidden;
    border-radius: 10px;
    height: 250px;
    margin-bottom: 20px;
    padding: 10px; /* Added padding around image */
}

.place-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.place-card:hover img {
    transform: scale(1.1);
}

.place-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 10px;
    letter-spacing: 1px;
}

.place-description {
    font-size: 16px;
    color: #bbb;
    margin: 0;
}

footer {
    background-color: #111;
    padding: 20px;
    font-size: 14px;
    color: #bbb;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 50px;
}

/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .places-grid {
        grid-template-columns: 1fr;
    }

    .place-card img {
        height: 200px;
    }
}
